.env
.env.*
!.env.example
.git
.github
.gitignore
node_modules
.output
.nuxt
.nitro
.cache
dist
*.log
logs
.DS_Store
.fleet
.idea
README.md
docker-compose.yml
docker-compose.prod.yml
drizzle-migrations
