services:

  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: finantia
      POSTGRES_DB: finantia

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  web:
    build: .
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://finantia:example@finantia-db-riudtf:5432/finantia